<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <div class="container">
    <h1>My Home Page</h1>
    <nav>
      <a href="/kafka/producer">Kafka Sender</a>
      <a href="http://localhost:8080">Kafka Cluster UI</a>
      <a href="/users/ui">User DB UI</a>
      <a href="/transactions">Transactions</a>
      <a href="/kafka/explanation-zh">Kafka 在本專案的用途</a>
      <a href="/kafka/explanation">Kafka in this project</a>
    </nav>
  </div>
</body>
</html>
