<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>My Home Page</h1>
  <nav>
    <a href="/kafka/producer">Kafka Sender</a>
    <a href="http://localhost:8080">Kafka Cluster UI</a>
    <a href="/users/ui">User DB UI</a>
  </nav>

</body>
</html>
