<!DOCTYPE html>
<html lang="en">
<head>
  <title>Register User</title>
</head>
<body>
  <div class="container">
    <nav>
      <a href="/kafka/producer">Kafka Sender</a>
      <a href="http://localhost:8080">Kafka Cluster UI</a>
      <a href="/users/ui">User DB UI</a>
      <a href="/transactions">Transactions</a>
      <a href="/kafka/explanation-zh">Kafka 在本專案的用途</a>
      <a href="/kafka/explanation">Kafka in this project</a>
    </nav>
    <h1>Register User</h1>
    <form id="registerUserForm" method="POST" action="/users/ui/add">
      <input name="name" placeholder="Name" required />
      <input name="email" placeholder="Email" required />
      <button type="submit">Register</button>
    </form>
  </div>
</body>
</html>
